<div class="inline">
  <h1>Browse All Recipes</h1>
  <% if current_user %>
    <%= link_to "+ Upload New", new_recipe_path, style: "float:right" %>
  <% end %>
</div>



<div class="flex-end">
    <% @recipes.each do |recipe| %>
    <div class="recipe">
      <%= link_to recipe.name, recipe_path(recipe) %>
      <a href="recipes/<%= recipe.id %>"><div class="preview" style="background-image: url(<%= recipe.photo_url %>)"></div></a>
    </div>
    <% end %>
</div>
