<div class="inline">
  <h1>Your Recipe Box</h1>
  <%= link_to "+ Upload New", new_recipe_path, style: "float:right" %>
</div>

<% if current_user.favorites.length == 0 %>
  <p>Recipe box is empty <i class="fa fa-frown-o" aria-hidden="true"></i> Add some recipes!</p>
<% else %>
  <div class="flex-end">
      <% @favorites.each do |fav| %>
      <% @recipe = Recipe.find(fav.recipe_id) %>
      <div class="recipe">
        <%= link_to @recipe.name, recipe_path(@recipe) %>
        <a href="recipes/<%= @recipe.id %>"><div class="preview" style="background-image: url(<%= @recipe.photo_url %>)"></div></a>
      </div>
      <% end %>
  </div>
<% end %>
