<h1>Recipe Box</h1>

<%= link_to "Add New", new_meal_path %>

<div class="flex">
    <% @meals.each do |meal| %>
    <div class="recipe">
      <%= link_to meal.name, meal_path(meal) %>
      <div class="preview" style="background-image: url(<%= meal.photo_url %>)"></div>
    </div>
    <% end %>
</div>
