/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0 auto;
  line-height: 1.4;
  font-size: 18px;
  font-family: 'Carrois Gothic', sans-serif;
  background: rgb(253, 253, 253);
}

header {
  height: 80px;
  background: rgba(90, 75, 170, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}

header a {
    color: white;
}

header * {
  padding: 10px;
}

header img {
  height: 50px;
  margin-bottom: 25px;
  padding-right: 0px;
}

i {
  color: gray;
}

nav {
  padding: 10px;
  background: lightgray;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

.placeholder {
  height: 50px;
}

nav a {
  padding: 10px;
  color: black;
}

a:hover {
  color: rgb(139, 128, 195);
}

a {
  text-decoration: none;
  color: rgb(60, 33, 195);
}

main {
  padding: 30px;
  width: 80%;
  margin: 0 auto;
}

textarea {
  resize: none;
  width: 300px;
  height: 200px;
}

input[type="text"] {
  width: 200px;
  font-size: 16px;
  margin: 5px;
}

input[type="password"],
input[type="email"] {
  width: 200px;
  font-size: 16px;
  margin: 5px 0;
}

input[type="submit"] {
  font-size: 16px;
  margin: 10px 0;
}

span {
  padding: 10px;
  border: 1px solid rgb(249, 244, 160);
  border-radius: 5px;
  margin: 5px;
  background: rgb(251, 249, 217);
}

.ingredients h3 {
  padding-left: 40px;
}

.add-ingredient {
  margin-top: 20px;
  font-size: 16px;
}

ul {
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

li {
  margin: 0 20px;
}

.preview {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  border: 1px solid black;
}

.show {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  margin: 20px 0;
}

.inline * {
  display: inline;
}

.recipe-img {
  height: 400px;
}

.flex-end {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  text-align: center;
  width: 200px;
  margin: 20px;
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
